<form class="" action="/authors/add" method="post">
  <label for="name">Nombre del autor</label>
  <input type="text" name="name" value="" placeholder="Nombre del autor" required>
  <br>
  <label for="lastname">Apellido(s) del autor</label>
  <input type="text" name="lastname" value="" placeholder="Apellido(s) del autor" required>
  <br>
  <label for="nationality">Nacionalidad</label>
  <input type="text" name="nacionality" value="" placeholder="Nacionalidad del autor">
  <br>
  <label for="birthday">Fecha de nacimiento</label>
  <input type="date" name="birthday" value="">
  <br>
  <label for="pictureUrl">URL de la fotografía</label>
  <input type="text" name="pictureUrl" value="">
  <br>
  <button type="submit" name="button">Añadir</button>
</form>
