<h1>Libros</h1>
<form action="/buscar" method="post">
  <label for="titulo">Buscar</label>
  <input type="text" name="titulo" value="" placeholder="Buscar un libro">
  <button type="submit" name="button">Buscar</button>
</form>
<div>
  <table>
    <tr>
      <th>Nombre</th>
      <th>URL</th>
    </tr>
    {{#each libros}}
    <tr>
      <td><a href="/libros/{{this._id}}">{{this.title}}</a></td>
      <td> {{this.author}}</td>
    </tr>
    {{/each}}
  </table>
</div>
