<form action="/libros/add" method="post">
  <label for="titulo">Título:</label>
  <input type="text" name="title" value="" placeholder="Título del libro">
  <br>
  <label for="autor">Autor:</label>
  <input type="text" name="author" value="" placeholder="Autor del libro">
  <br>
  <label for="descripcion">Descripción:</label>
  <input type="text" name="description" value="" placeholder="Descripcion">
  <br>
  <label for="rating">Calificación</label>
  <input type="number" name="rating" value="" placeholder="Calificación">
  <br>
  <button type="submit" name="button">Añadir</button>
</form>
